{% extends 'layout.html' %}

{% block content %}
	<div class = 'panel panel-default' style="list-style: none">
		{% for region in regions %}

			<div class = 'panel-heading'>
			 	{{region.zip_code}} 
			 		<button type='button' class = 'btn btn-danger'> Delete</button>
			</div>

			<div class = 'panel-heading'>
				{% for salesPerson in salesPeople %}
					<div class = 'panel-body'>
						<ul>
							{% if region.hasSalesPerson(salesPerson.id)  %} 
								<li class = "list-group-item list-group-item-success">
									{{salesPerson.name}} 
									<button type='button' class = 'btn btn-warning'> Remove</button>
								</li> 
							{%endif%}

							{% if !region.hasSalesPerson(salesPerson.id)  %}
								<li class = "list-group-item">	
								 	{{salesPerson.name}} 
									<button type='button' class = 'btn btn-success'> Add</button>
								</li>	
							{%endif%}
						</ul>
					</div>	
				{% endfor %}
						
			</div>
		{% endfor %}
	</div>	

{% endblock%}