{% extends 'layout.html' %}

{% block content %}
 	<div class = 'panel panel-default' style="list-style: none">
		{% for salesPerson in salesPeople %}
			<div class = 'panel-heading'>
				{{salesPerson.name}} {{salesPerson.id}} 
				<button type='button' class = 'btn btn-danger'> Delete</button>
			</div>
			
			<div class = 'panel-heading'> 
				{% for region in regions %}
				<div class = 'panel-body'> 
					{{region.zip_code}} {{region.id}} {{salesPerson.hasRegion(region.id) }}
					<button type='button' class = 'btn btn-primary'> Add</button>
				</div>	
				{% endfor %}
				
			</div>
		{% endfor %}
			
	</div>

{% endblock%}